body
{
    font-family: Nunito;
}
::-webkit-scrollbar
{
    width: 16px;
}
::-webkit-scrollbar-track
{
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background: #aaa;
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #999;
    background-clip: content-box;
    border: 4px solid transparent;
}
.logo
{
    border: 2px solid #fff;
    border-radius: 50%;
}
.card
{
    border: 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.action-btn {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.action-btn-sm
{
    width: 20px;
    height: 20px;
    padding: 3px 0px;
    font-size: 10px;
}
.w-1
{
    width: 1%;
}
.of-y-hidden
{
    overflow-y: hidden;
}
.dataTable
{
    border-collapse: separate;
    border-spacing: 0 1rem;
}
.dataTable thead 
{
    font-weight: bolder;
    font-size: 1.25rem;
    color: #666;
    user-select: none;
    white-space: nowrap; 
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.dataTable thead th,
.dataTable td,
.dataTable tbody
{
    border: 0 !important;
}
.dataTable tbody tr
{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    transition: all .15s ease-in-out;
}
.dataTable tbody tr:hover
{
    background: #ebebeb
}
.dataTable tbody td
{
    padding: 1.25rem;
}
.dataTable tbody td:first-child
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dataTable tbody td:last-child
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dataTables_paginate
{
    margin-bottom: 1rem;
}
.dataTables_paginate .previous
{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.dataTables_paginate .next
{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.dataTables_paginate .current
{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd !important;
    z-index: 3;
}
.dataTables_paginate .current:hover
{
    color: #fff;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
.dataTables_paginate .disabled
{
    color: #6c757d;
    pointer-events: none;
}
.dataTables_paginate .paginate_button
{
    display: inline-block;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    border: 1px solid #dee2e6;
    text-decoration: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
}
.dataTables_paginate .paginate_button:nth-child(n+2)
{
    border-left: 0;
}
.dataTables_paginate .paginate_button:hover
{
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.sorting_asc::after
{
    font-family: 'Font Awesome 6 Free';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: '\f885';
    margin-left: .3rem;
}
.sorting_desc::after
{
    font-family: 'Font Awesome 6 Free';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: '\f160';
    margin-left: .3rem;
}
.quantity-setter
{
    background: #fff;
    max-width: 10rem;
    border-radius: 50rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.quantity-setter input[type="number"]::-webkit-outer-spin-button,
.quantity-setter input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    border: 0;
    margin: 0;
}
.quantity-setter input[type='number']
{
    border: 0;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    -moz-appearance: textfield;
}
.quantity-setter input[type='number']:focus
{
    outline: none;
    box-shadow: none;
}
.quantity-setter button
{
    color: #999;
    border-radius: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 0;
}
.quantity-setter button:focus
{
    outline: none;
    box-shadow: none;
}
.input-icon
{
    position: absolute;
    top:0;
    left: 1rem;
    line-height: 3rem;
    color: #999;
}
.has-icon
{
    padding-left: 2.75rem;
}
.bootstrap-select
{
    width: 54%;
    padding-left: 0.5rem;
}
.bootstrap-select .btn
{
    background:transparent;
    border: 1px solid #ced4da;
    border-radius: 3rem;
    padding: 0.7rem;
}
.social-holder
{
    display: flex;
    justify-content: center;
}
.social
{
    position: relative;
    width:40px;
    height:40px;
    border-radius:50%;
    font-size:16px;
    padding:10px;
    margin: 0 0.5em 0 0.5em;
}
.social:hover
{
    opacity: 0.8;
    color: #fff;
}
.social i
{
    position:absolute;
    top:50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.social-facebook
{
    background: #4267B2;
    color: #fff;
}
.social-instagram
{
    background: #d6249f;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: #fff;
}
.social-twitter
{
    background: #1DA1F2;
    color: #fff;
}
.cart-items
{
    margin: 10px 0;
}
.cart-item
{
    display: flex;
    text-align: center;
    margin: 15px 0;
}